{% extends "bases.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ERP Farmacias Bienestar{% endblock %}

{% block miheader %}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Farmacias Bienestar</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Catálogos</a></li>
              <li class="breadcrumb-item"><a href="#">Productos</a></li>
              <li class="breadcrumb-item active">Editar</li>
            </ol>
          </div>
        </div>
          {% if messages %}
            <ul class="messages list-group mb-3">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}


{% block content %}

<main role="main">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">
               <i class="fas fa-edit"></i>
               Actualización de Productos
             </h3>
    </div>

    <div class="card-body" align="left">

        <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    <div class="form-group">
                        <label for="codigo_barras_1" class="txt_negrita">Código de Barras para Compras</label>
                        {{ form.codigo_barras_1|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="codigo_barras_2" class="txt_negrita">Código de Barras para Ventas</label>
                        {{ form.codigo_barras_2|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="nombre_compra" class="txt_negrita">Nombre de Compra</label>
                        {{ form.nombre_compra|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="nombre_venta" class="txt_negrita">Nombre de Venta</label>
                        {{ form.nombre_venta|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="nombre_corto" class="txt_negrita">Nombre Corto</label>
                        {{ form.nombre_corto|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_categoria" class="txt_negrita">Categoría</label>
                        {{ form.id_categoria|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_fabricante" class="txt_negrita">Fabricante</label>
                        {{ form.id_fabricante|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_presentacion" class="txt_negrita">Presentación</label>
                        {{ form.id_presentacion|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_pais" class="txt_negrita">País</label>
                        {{ form.id_pais|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_unidad_medida" class="txt_negrita">Unidad de Medida</label>
                        {{ form.id_unidad_medida|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="conversion" class="txt_negrita">Conversión</label>
                        {{ form.conversion|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_via_administracion" class="txt_negrita">Vía de Administración</label>
                        {{ form.id_via_administracion|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="prioridad" class="txt_negrita">Prioridad</label>
                        {{ form.prioridad|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="imagen" class="txt_negrita">Imagen</label>
                        {{ form.imagen|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="id_tipo_prescripcion" class="txt_negrita">Tipo de Prescripción</label>
                        {{ form.id_tipo_prescripcion|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="afecto_impuesto" class="txt_negrita">Afecto a Impuestos</label>
                        {{ form.afecto_impuesto|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="registro_sanitario" class="txt_negrita">Registro Sanitario</label>
                        {{ form.registro_sanitario|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="precio_costo" class="txt_negrita">Precio Costo</label>
                        {{ form.precio_costo|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="precio_venta" class="txt_negrita">Precio Venta</label>
                        {{ form.precio_venta|add_class:"form-control" }}

                        <input type="hidden" name="estado" value="A" class="form-control">
                        <input type="hidden" name="id_empresa" value="1" class="form-control">
                        <input type="hidden" name="clasificacion_abc" value="1" class="form-control">
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Aceptar</button>
                        <a href="../" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>
                    </div>
        </form>

    </div>

</main>

<script type="text/javascript">
    $('.form-group').html(function (i, t) {
      return t.replace('Actualmente:', '<span class="ocultar">Actualmente:</span>');
    });

    $('.form-group').html(function (i, t) {
      return t.replace('Currently:', '<span class="ocultar">Currently:</span>');
    });
</script> 

{% endblock %}
