{% extends "bases.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ERP Farmacias Bienestar{% endblock %}

{% block head_list %}
  <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet">
  <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
  <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
  <script src="{% static 'js/productos.js' %}"></script>
{% endblock %}

{% block miheader %}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Farmacias Bienestar</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Catálogos</a></li>
              <li class="breadcrumb-item"><a href="#">Productos</a></li>
              <li class="breadcrumb-item active">Crear</li>
            </ol>
          </div>
        </div>
          {% if messages %}
            <ul class="messages list-group mb-3">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block content %}
<form id="frmProducto" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="card card-default card-primary">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-plus"></i>
        {{title}}
      </h3>
    </div>
    <div class="card-body">

      {% if form.errors %}
        <input type="hidden" name="action" value="{{ action }}">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
          <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      
      
      {% for field in form.visible_fields %}
        <div class="form-group">
          {% if field.label == "Categoría" %}
            <label for="email">{{ field.label }}:</label>
            <div class="input-group">
              <div class="input-group-append">
                <button class="btn btn-success btn-flat btnAddCategoria" type="button">
                  <i class="fas fa-cubes"></i>
                </button>
              </div>
              {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
            </div>
          {% elif field.label == "Fabricante" %}
            <label for="email">{{ field.label }}:</label>
            <div class="input-group">
              <div class="input-group-append">
                <button class="btn btn-success btn-flat btnAddFabricante" type="button">
                  <i class="fab fa-phabricator"></i>
                </button>
              </div>
              {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
            </div>
          {% elif field.label == "Presentación" %}
            <label for="email">{{ field.label }}:</label>
            <div class="input-group">
              <div class="input-group-append">
                <button class="btn btn-success btn-flat btnAddPresentacion" type="button">
                  <i class="fas fa-image"></i>
                </button>
              </div>
              {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
            </div>
          {% elif field.label == "País" %}
            <label for="email">{{ field.label }}:</label>
            <div class="input-group">
              <div class="input-group-append">
                <button class="btn btn-success btn-flat btnAddPais" type="button">
                  <i class="fas fa-map"></i>
                </button>
              </div>
              {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
            </div>
          {% elif field.label == "Unidad de Medida" %}
            <label for="email">{{ field.label }}:</label>
            <div class="input-group">
              <div class="input-group-append">
                <button class="btn btn-success btn-flat btnAddMedida" type="button">
                  <i class="fas fa-weight"></i>
                </button>
              </div>
              {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
            </div>
          {% elif field.label == "Vía de Administración" %}
            <label for="email">{{ field.label }}:</label>
            <div class="input-group">
              <div class="input-group-append">
                <button class="btn btn-success btn-flat btnAddVia" type="button">
                  <i class="fas fa-vial"></i>
                </button>
              </div>
              {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
            </div>
          {% elif field.label == "Tipo de Prescripción" %}
            <label for="email">{{ field.label }}:</label>
            <div class="input-group">
              <div class="input-group-append">
                <button class="btn btn-success btn-flat btnAddPrescripcion" type="button">
                  <i class="fas fa-file-prescription"></i>
                </button>
              </div>
              {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
            </div>
          {% elif field.label == "Principios Activos" %}
            <label for="email">{{ field.label }}:</label>
            {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
          {% elif field.label != "x" %}
            <label for="email">{{ field.label }}:</label>
            {{ field|add_class:"form-control"|attr:"autocomplete:off" }}
            
          {% endif %}

        </div>
      {% endfor %}

      <div class="form-group">
        <input type="hidden" name="clasificacion_abc" value="A">
        <input type="hidden" name="estado" value="A">
        <input type="hidden" name="id_empresa" value="1">
      </div>





      
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Aceptar</button>
      <a href="./" type="submit" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>

    </div>
  </div>

</form>




<!-- Modal Categoría -->
    <div class="modal fade" id="myModalCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="frmCategoria" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-cubes"></i> Nuevo registro de Categoría</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmCategoria.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Categoría
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


  <!-- Modal Fabricante -->
    <div class="modal fade" id="myModalFabricante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="frmFabricante" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fab fa-phabricator"></i> Nuevo registro de Laboratorio</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmFabricante.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Laboratorio
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


  <!-- Modal Presentacion -->
    <div class="modal fade" id="myModalPresentacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="frmPresentacion" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-image"></i> Nuevo registro de Presentación</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmPresentacion.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Presentación
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


  <!-- Modal Pais -->
    <div class="modal fade" id="myModalPais" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="frmPais" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-map"></i> Nuevo registro de País</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmPais.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar País
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


  <!-- Modal Unidad de Medida -->
    <div class="modal fade" id="myModalMedida" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="frmMedida" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-weight"></i> Nuevo registro de Unidad de Medida</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmMedida.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Unidad de Medida
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


  <!-- Modal Via de Administración -->
    <div class="modal fade" id="myModalVia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="frmVia" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-vial"></i> Nuevo registro de Vía de Administración</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmVia.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Vía de Administración
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


  <!-- Modal Tipo de Prescripción -->
    <div class="modal fade" id="myModalPrescripcion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="frmPrescripcion" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-file-prescription"></i> Nuevo registro de Tipo de Prescripción</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmPrescripcion.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Tipo de Prescripción
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>






  {% block javascript %}

    <!-- Modal -->
      <div class="modal fade" id="myModalCategoria" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Creación de Categorías</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


    <script src="{% static 'libs/sweetalert2.js' %}"></script>

    {% block addjavascript %}

    <script>
      {% if form.errors %}
        var errores = '';
        {% for field in form %}
          {% for error in field.errors %}
            errores += '{{ error }}\n';
          {% endfor%}
        {% endfor%}
        Swal.fire({
          title: 'Error!',
          text: errores,
          icon: 'error'
        });
      {% endif %}
    </script>

    <script type="text/javascript">
      alert_jqueryconfirm();
    </script>

    {% endblock %}

  {% endblock %}



{% endblock %}
