{% extends "bases.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ empresa }}{% endblock %}

{% block miheader %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ empresa }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Catálogos</a></li>
              <li class="breadcrumb-item"><a href="#">Productos</a></li>
              <li class="breadcrumb-item active">Detalle</li>
            </ol>
          </div>
          {% if messages %}
            <div class="alert alert-primary alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}


{% block content %}

<main role="main">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">
               <i class="fas fa-info-circle"></i>
               Detalle de Productos
             </h3>
    </div>
    <div class="card-body">

                  <p><span class="txt_negrita">Código de Barras 1:</span> <br> {{object.codigo_barras_1}}</p>
                  <p><span class="txt_negrita">Código de Barras 1:</span> <br> {{object.codigo_barras_2}}</p>
                  <p><span class="txt_negrita">Nombre de Compra:</span> <br> {{object.nombre_compra}}</p>
                  <p><span class="txt_negrita">Nombre de Venta:</span> <br> {{object.nombre_venta}}</p>
                  <p><span class="txt_negrita">Nombre Corto:</span> <br> {{object.nombre_corto}}</p>
                  <p><span class="txt_negrita">Categoría:</span> <br> {{object.id_categoria}}</p>
                  <p><span class="txt_negrita">Fabricante:</span> <br> {{object.id_fabricante}}</p>
                  <p><span class="txt_negrita">Presentación:</span> <br> {{object.id_presentacion}}</p>
                  <p><span class="txt_negrita">País:</span> <br> {{object.id_pais}}</p>
                  <p><span class="txt_negrita">Uidad de Medida:</span> <br> {{object.id_unidad_medida}}</p>
                  <p><span class="txt_negrita">Conversión:</span> <br> {{object.conversion}}</p>
                  <p><span class="txt_negrita">Vía de Administración:</span> <br> {{object.id_via_administracion}}</p>
                  <p><span class="txt_negrita">Prioridad:</span> <br> {{object.prioridad}}</p>
                  <p><span class="txt_negrita">Imagen:</span><br><img src="{{ object.get_image }}" class="img-fluid d-block mx-auto" style="width: 200px; height: 200px;"></p>
                  <p><span class="txt_negrita">Tipo de Prescripción:</span> <br> {{object.id_tipo_presentacion}}</p>
                  <p><span class="txt_negrita">Afecto a Impuestos:</span> <br> {{object.afecto_impuesto}}</p>
                  <p><span class="txt_negrita">Registro Sanitario:</span> <br> {{object.registro_sanitario}}</p>
                  <p><span class="txt_negrita">Precio Costo:</span> <br> {{object.precio_costo}}</p>
                  <p><span class="txt_negrita">Precio Venta:</span> <br> {{object.precio_venta}}</p>
                  <p><span class="txt_negrita">Clasificación ABC:</span> <br> {{object.clasificacion_abc}}</p>

                  <p><span class="txt_negrita">Creado:</span> <br> {{object.created_at}}</p>
                  <p><span class="txt_negrita">Actualizado:</span> <br> {{object.updated_at}}</p>

                  <a href="../" type="submit" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-left"></i> Volver</a>

    </div>

  </div>          

</main>

{% endblock %}
