{% extends "base.html" %}
{% load static %}
{% block title %}ERP Farmacias Bienestar{% endblock %}


{% block content %}

        <div class="container text-center mt-5">

          <div class="row">
            <div class="col-md-12">
              <h3>Lista de Productos</h3>              
            </div>
          </div>

          <div class="row mb-5">

            <div class="col-md-12">

              <div class="table-responsive">

                {% if messages %}
                <ul class="messages list-group mb-3">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div align="left" class="btn_crear mb-3">
                  <a href="crear" type="button" class="btn btn-primary">Crear</a>
                </div>
                
                <table id="myTable" class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Código de Barras 1</th>
                      <th>Código de Barras 2</th>
                      <th>Nombre de Compra</th>
                      <th>Nombre de Venta</th>
                      <th>Nombre Corto</th>
                      <th>Categoría</th>
                      <th>Fabricante</th>
                      <th>Presentación</th>
                      <th>País</th>
                      <th>Unidad Medida</th>
                      <th>Conversión</th>
                      <th>Vía Administración</th>
                      <th>Prioridad</th>
                      <th>Imagen</th>
                      <th>Tipo Prescripción</th>
                      <th>Afecto Impuesto</th>
                      <th>Registro Sanitario</th>
                      <th>Precio Costo</th>
                      <th>Precio Venta</th>
                      <th>Clasificación</th>

                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for categoria in object_list %}
                    <tr>
                      <td>{{ categoria.codigo_barras_1 }}</td>
                      <td>{{ categoria.codigo_barras_2 }}</td>
                      <td>{{ categoria.nombre_compra }}</td>
                      <td>{{ categoria.nombre_venta }}</td>
                      <td>{{ categoria.nombre_corto }}</td>
                      <td>{{ categoria.id_categoria }}</td>
                      <td>{{ categoria.id_fabricante }}</td>
                      <td>{{ categoria.id_presentacion }}</td>
                      <td>{{ categoria.id_pais }}</td>
                      <td>{{ categoria.id_unidad_medida }}</td>
                      <td>{{ categoria.conversion }}</td>
                      <td>{{ categoria.id_via_administracion }}</td>
                      <td>{{ categoria.prioridad }}</td>
                      <td>{{ categoria.imagen }}</td>
                      <td>{{ categoria.id_tipo_prescripcion }}</td>
                      <td>{{ categoria.afecto_impuesto }}</td>
                      <td>{{ categoria.registro_sanitario }}</td>
                      <td>{{ categoria.precio_costo }}</td>
                      <td>{{ categoria.precio_venta }}</td>
                      <td>{{ categoria.clasificacion_abc }}</td>
                      <td>
                        
                        <form method="POST" action="eliminar/{{categoria.id_producto}}">
                          
                          {% csrf_token %}
                          
                          <div class="btn-group">
                            <a href="detalle/{{categoria.id_producto}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                            <a href="editar/{{categoria.id_producto}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                              Eliminar
                            </button>
                            <!-- <a href="eliminar/{{postre.id}}" title="Eliminar"><i class="fas fa-trash"></i> </a> -->                          
                          </div>

                        </form>

                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>

            </div>

          </div>    

    <script type="text/javascript">
      function eliminar() {
        var x = confirm("Eliminar Producto?");
        if (x)
          return true;
        else
          return false;
      }
    </script>
{% endblock %}
