{% extends "list.html" %}
{% load static %}
{% block title %}{{ empresa }}{% endblock %}

{% block miheader %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ empresa }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Catálogos</a></li>
              <li class="breadcrumb-item"><a href="#">Productos</a></li>
              <li class="breadcrumb-item active">Listado</li>
            </ol>
          </div>
          {% if messages %}
            <div class="alert alert-primary alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block columns %}
<tr>
  <th width="30%">Nombre de Compra</th>
  <th>Categoría</th>
  <th>Fabricante</th>
  <th>Conversión</th>
  <th>Imagen</th>
  <th>Tipo de Prescripción</th>
  <th>Precio Costo</th>
  <th>Precio Venta</th>
  <th>Acciones</th>
</tr>
{% endblock %}
                  
{% block rows %}
  {% for obj in object_list %}
    <tr>
      <td>{{ obj.nombre_compra }}</td>
      <td>{{ obj.id_categoria.descripcion }}</td>
      <td>{{ obj.id_fabricante.nombre }}</td>
      <td>{{ obj.conversion }}</td>
      <td class="text-center">
          <img src="{{ obj.get_image }}" class="img-fluid d-block mx-auto" style="width: 20px; height: 20px;">
      </td>
      <td>{{ obj.id_tipo_prescripcion.descripcion }}</td>
      <td>{{ obj.precio_costo }}</td>
      <td>{{ obj.precio_venta }}</td>
      <td class="text-center">
          <a href="detalle/{{obj.id_producto}}" class="btn btn-success btn-sm btn-flat" title="Ver"><i class="fas fa-info-circle"></i></a>
          <a href="editar/{{obj.id_producto}}" class="btn btn-warning btn-sm btn-flat" title="Editar"><i class="fas fa-edit"></i></a>
          <button class="btn btn-danger btn-sm btn-flat" title="Eliminar" onclick="return eliminar();" type="submit"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  {% endfor %}
{% endblock %}

  {% block addjavascript %}

    <script type="text/javascript">
      function eliminar() {
        var x = confirm("Eliminar Producto?");
        if (x)
          return true;
        else
          return false;
      }
    </script>

    <script type="text/javascript">$('#myTable').DataTable();</script>

  {% endblock %}
