{% extends "list.html" %}
{% load static %}
{% block title %}ERP Farmacias Bienestar{% endblock %}

{% block miheader %}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Productos</a></li>
              <li class="breadcrumb-item"><a href="#">Vías de Administración</a></li>
              <li class="breadcrumb-item active">Listado</li>
            </ol>
          </div>
        </div>
          {% if messages %}
            <ul class="messages list-group mb-3">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}

                
                  {% block columns %}
                    <tr>
                      <th width="35%">Descripcion</th>
                      <th>Abreviatura</th>
                      <th>Acciones</th>
                    </tr>
                  {% endblock %}
                  
                  {% block rows %}
                    {% for categoria in object_list %}
                    <tr>
                      <td>{{ categoria.descripcion }}</td>
                      <td>{{ categoria.abreviatura }}</td>
                      <td>
                        
                        <form method="POST" action="eliminar/{{categoria.id_via_administracion}}">
                          
                          {% csrf_token %}
                          
                          <div class="btn-group">
                            <a href="detalle/{{categoria.id_via_administracion}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                            <a href="editar/{{categoria.id_via_administracion}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                            <button class="btn btn-warning btn-xs btn-flat" onclick="return eliminar();" type="submit">
                              <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-xs btn-flat" onclick="return eliminar();" type="submit">
                              <i class="fas fa-trash-alt"></i>
                            </button>
                            <!-- <a href="eliminar/{{postre.id}}" title="Eliminar"><i class="fas fa-trash"></i> </a> -->                          
                          </div>

                        </form>

                      </td>
                    </tr>
                  {% endfor %}
                  {% endblock %}
                
    <script type="text/javascript">
      function eliminar() {
        var x = confirm("Eliminar Vía de Administración?");
        if (x)
          return true;
        else
          return false;
      }
    </script>
