{% extends "list.html" %}
{% load static %}
{% block title %}ERP Farmacias Bienestar{% endblock %}

{% block miheader %}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Farmacias Bienestar</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Catálogos</a></li>
              <li class="breadcrumb-item"><a href="#">Vías de Administración</a></li>
              <li class="breadcrumb-item active">Listado</li>
            </ol>
          </div>
          {% if messages %}
            <div class="alert alert-primary alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}

                
{% block columns %}
<tr>
  <th>Id</th>
  <th>Descripcion</th>
  <th>Abreviatura</th>
  <th>Estado</th>
  <th>Empresa</th>
  <th>Acciones</th>
</tr>
{% endblock %}
                  
{% block rows %}
{% endblock %}

  {% block addjavascript %}
    <script src="{% static 'vias/js/list.js' %}"></script>

    <script type="text/javascript">
      function eliminar() {
        var x = confirm("Eliminar Vía de Administración?");
        if (x)
          return true;
        else
          return false;
      }
    </script>

  {% endblock %}