{% extends "listcaj.html" %}
{% load static %}
{% block title %}ERP Farmacias Bienestar{% endblock %}

{% block head_list %}
    <script src="{% static 'js/list_ventas_caj.js' %}"></script>
{% endblock %}

{% block miheader %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ empresa }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">{{ entity }}</a></li>
              <li class="breadcrumb-item active">Listado</li>
            </ol>
          </div>
          {% if messages %}
            <div class="alert alert-primary alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block columns %}
<tr>
  <th scope="col"> </th>
  <th scope="col">Sucursal</th>
  <th scope="col">Fecha</th>
  <th scope="col">Nit</th>
  <th scope="col">Nombre</th>
  <th scope="col">Total</th>
  <th>Acciones</th>
</tr>
{% endblock %}
                  
{% block rows %}

{% endblock %}

  {% block addjavascript %}
    <div class="modal fade" id="myModelDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-shopping-cart"></i> Consulta de
                        detalle de productos</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <input type="hidden" name="id_sucursal" value="{{ request.user.sucursales.first.id_sucursal }}" class="form-control">
                </form>
                <div class="modal-body">
                    <table class="table table-bordered" id="tblDet">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio Venta</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  {% endblock %}
