{% extends "list.html" %}
{% load static %}
{% block title %}ERP Farmacias Bienestar{% endblock %}

{% block miheader %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Farmacias Bienestar</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Configuración</a></li>
              <li class="breadcrumb-item"><a href="#">Centros de Distribución</a></li>
              <li class="breadcrumb-item active">Listado</li>
            </ol>
          </div>
          {% if messages %}
            <div class="alert alert-primary alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block columns %}
<tr>
  <th width="25%">Descripción</th>
  <th width="25%">Dirección</th>
  <th width="15%">Teléfono</th>
  <th width="10%">Abreviatura</th>
  <th width="15%">Encargado</th>
  <th>Acciones</th>
</tr>
{% endblock %}
                  
{% block rows %}
  {% for obj in object_list %}
    <tr>
      <td>{{ obj.descripcion }}</td>
      <td>{{ obj.direccion }}</td>
      <td>{{ obj.telefono }}</td>
      <td>{{ obj.abreviatura }}</td>
      <td>{{ obj.encargado }}</td>
      <td class="text-center">
          <a href="editar/{{obj.id_sucursal}}" class="btn btn-warning btn-sm btn-flat" title="Editar"><i class="fas fa-edit"></i></a>
          <button class="btn btn-danger btn-sm btn-flat" title="Eliminar" onclick="return eliminar();" type="submit"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  {% endfor %}
{% endblock %}

  {% block addjavascript %}

    <script type="text/javascript">
      function eliminar() {
        var x = confirm("Eliminar Centro de Distribución?");
        if (x)
          return true;
        else
          return false;
      }
    </script>

    <script type="text/javascript">$('#myTable').DataTable();</script>

  {% endblock %}
