{% extends "base2.html" %}
{% load static %}
{% block title %}ERP Farmacias Bienestar{% endblock %}
{% block content %}
<main role="main" class="container">

  <div class="row">
    <div class="col">
      <div class="jumbotron" style="background-image: url(static/media/images/jumbotron1.png); background-repeat: no-repeat; background-size: 100%; color: white;">
        <h1 class="display-2">Farmacias Bienestar</h1>
        <p class="lead">Porque la salud es lo primero.</p>
        
      </div>
    </div>
  </div>

  <p></p>



	<div class="row">

      	<div class="row row-cols-1 row-cols-md-5 g-4">
		  <div class="col">
		    <div class="card">
		      <img src="{% static 'media/images/jumbotron.png' %}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Productos</h5>
		        <p class="card-text">Catálogo de Productos.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card">
		      <img src="{% static 'media/images/jumbotron.png' %}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Card title</h5>
		        <p class="card-text">alala alala alalal.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card">
		      <img src="{% static 'media/images/jumbotron.png' %}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Card title</h5>
		        <p class="card-text">alala alala alalal.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card">
		      <img src="{% static 'media/images/jumbotron.png' %}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Card title</h5>
		        <p class="card-text">kkdfd dkdkddlk dldkdkdkdkl.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card">
		      <img src="{% static 'media/images/jumbotron.png' %}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Card title</h5>
		        <p class="card-text">kkdfd dkdkddlk dldkdkdkdkl.</p>
		      </div>
		    </div>
		  </div>
		</div>
   
    </div>


    <div class="row">

      	<div class="row row-cols-1 row-cols-md-5 g-4">
		  <div class="col">
		    <div class="card h-100">
		      <img src="{% static 'media/images/jumbotron.png' %}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Card title</h5>
		        <p class="card-text">fj fjf fjf fjf j.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card h-100">
		      <img src="{% static 'media/images/jumbotron.png' %}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Card title</h5>
		        <p class="card-text">abd dkdkj abdk akdk.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card">
		      <img src="{% static 'media/images/jumbotron.png' %}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Card title</h5>
		        <p class="card-text">alala alala alalal.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card h-100">
		      <img src="{% static 'media/images/jumbotron.png' %}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Card title</h5>
		        <p class="card-text">ldfld dlkfjdl kdjfkdjk.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card">
		      <img src="{% static 'media/images/jumbotron.png' %}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title">Card title</h5>
		        <p class="card-text">kkdfd dkdkddlk dldkdkdkdkl.</p>
		      </div>
		    </div>
		  </div>
		</div>
   
    </div>



</main>
{% endblock %}
