{% extends 'bases.html' %}
{% load static %}

{% block content %}
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">
               <i class="fas fa-search"></i>
               {{title}}
             </h3>
		</div>
		{% block titulitos %}
		{% endblock %}
		<div class="card-body">
			<table class="table" id="myTable">
				<thead>
					{% block columns %}
					{% endblock %}
				</thead>
				<tbody>
					{% block rows %}
					{% endblock %}
				</tbody>
			</table>
		</div>
		<div class="card-footer">
			<button class="btn btn-primary btn-flat btnTest">
				<a href="{{ create_url }}" type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Nuevo Registro</a>
			</button>
		</div>
	</div>

	{% block javascript %}

		<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
		<link rel="stylesheet"href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
		<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
		<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

	{% endblock %}

	{% block addjavascript %}
	{% endblock %}

{% endblock %}


	
