{% load static %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
      <img src="{% static 'media/images/logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">FE-ERP 1.0</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'lib/adminlte-3.0.4/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"> {{ request.user.username }}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-business-time"></i>
              <p>
                Configuración
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/cedis/" class="nav-link">
                  <i class="fas fa-warehouse nav-icon"></i>
                  <p>Centros de Distribución</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/sucursales/" class="nav-link">
                  <i class="fas fa-store nav-icon"></i>
                  <p>Sucursales</p>
                </a>
              </li>
            </ul>
          </li>


          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-database"></i>
              <p>
                Catálogos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/productos/" class="nav-link">
                  <i class="fas fa-prescription-bottle-alt nav-icon"></i>
                  <p>Productos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/categorias/" class="nav-link">
                  <i class="fas fa-cubes nav-icon"></i>
                  <p>Categorías</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/presentaciones/" class="nav-link">
                  <i class="fas fa-image nav-icon"></i>
                  <p>Presentaciones</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/laboratorios/" class="nav-link">
                  <i class="fab fa-phabricator nav-icon"></i>
                  <p>Laboratorios</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/unidades/" class="nav-link">
                  <i class="fas fa-weight nav-icon"></i>
                  <p>Unidades de Medida</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/vias/" class="nav-link">
                  <i class="fas fa-vial nav-icon"></i>
                  <p>Vias de Administración</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/prescripciones/" class="nav-link">
                  <i class="fas fa-file-prescription nav-icon"></i>
                  <p>Tipos de Prescripción</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/componentes/" class="nav-link">
                  <i class="fas fa-atom nav-icon"></i>
                  <p>Componentes Activos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/indicaciones/" class="nav-link">
                  <i class="fas fa-heart-broken nav-icon"></i>
                  <p>Indicaciones</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-receipt"></i>
              <p>
                Compras
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/proveedores/" class="nav-link">
                  <i class="fas fa-building nav-icon"></i>
                  <p>Proveedores</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/compras/" class="nav-link">
                  <i class="fas fa-box-open nav-icon"></i> 
                  <p>Compras</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>
                Ventas
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/tipoclientes/" class="nav-link">
                  <i class="fas fa-address-book nav-icon"></i>
                  <p>Tipos de Cientes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/formaspago/" class="nav-link">
                  <i class="fas fa-comment-dollar nav-icon"></i>
                  <p>Tipos de Formas de Pago</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/clientes/" class="nav-link">
                  <i class="fas fa-user-circle nav-icon"></i>
                  <p>Cientes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/ventas/" class="nav-link">
                  <i class="fas fa-cash-register nav-icon"></i> 
                  <p>Ventas</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-dolly-flatbed"></i>
              <p>
                Inventarios
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/enviar/" class="nav-link">
                  <i class="fas fa-file-export nav-icon"></i>
                  <p>Enviar Productos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/recibir/" class="nav-link">
                  <i class="fas fa-file-import nav-icon"></i> 
                  <p>Recibir Productos</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Reportes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/reportes/" class="nav-link">
                  <i class="fas fa-chart-line nav-icon"></i>
                  <p>Reporte 1</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/reportes/" class="nav-link">
                  <i class="fas fa-chart-bar nav-icon"></i> 
                  <p>Reporte 2</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                Usuarios
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/empleados/" class="nav-link">
                  <i class="fas fa-user nav-icon"></i>
                  <p>Empleados</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/grupos/" class="nav-link">
                  <i class="fas fa-users nav-icon"></i> 
                  <p>Grupos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/permisos/" class="nav-link">
                  <i class="fas fa-user-lock nav-icon"></i> 
                  <p>Permisos</p>
                </a>
              </li>
            </ul>
          </li>

      
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>